@import "variables";

@import 'main';

    article{
        position: absolute;
        display: block;
        @media (min-width: 360px){
            position: relative;
            width: 90%;
        @media (min-width: 1220px){
            float: left;
            width: 40%;
        }
        
        }   
    }
    a{
        color: $bg-terciary;
        &:hover{
            color: $text1;
        }
    }

   
