@import 'main';
@import 'variables';


article {
    img{
        width: $img-width;
        height: $img-height;
        animation: animationImg linear 1s;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
        @keyframes animationImg{
            0% {
              opacity:1;
              transform:  scaleX(1.00) scaleY(1.00) ;
            }
            25% {
              opacity:1;
              transform:  scaleX(0.95) scaleY(0.95) ;
            }
            50% {
              opacity:1;
              transform:  scaleX(1.10) scaleY(1.10) ;
            }
            100% {
              opacity:0;
              transform:  scaleX(0.30) scaleY(0.30) ;
            }
          }
          
          
    }
}

  