@charset "UTF-8";
/*segmentación de estilos*/
@import url("https://fonts.googleapis.com/css2?family=Gayathri:wght@100&family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gayathri:wght@100&family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gayathri:wght@100&family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gayathri:wght@100&family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gayathri:wght@100&family=Playfair+Display:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Gayathri", sans-serif;
}

form .ctn-btn button[type=submit], form .ctn-btn button[type=reset] {
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px 30px;
  color: #FEFDFF;
  filter: brightness(90%);
}
form .ctn-btn button[type=submit]:hover, form .ctn-btn button[type=reset]:hover {
  filter: brightness(110%);
}

h1, h2 {
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
}

h2 {
  margin-bottom: 10px;
}

main {
  padding: 2%;
}

header {
  background-image: url("https://secure.meetupstatic.com/photos/event/a/f/9/8/highres_491984952.jpeg");
  background-repeat: no-repeat;
}
@media (min-width: 360px) {
  header {
    background-size: cover;
    background-position: center;
    height: 200px;
  }
}
@media (min-width: 360px) and (min-width: 768px) {
  header {
    background-size: cover;
    background-position: bottom;
    height: 200px;
  }
}
@media (min-width: 360px) and (min-width: 1260px) {
  header {
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 400px;
  }
}

nav {
  text-align: center;
  background-color: #b1deca;
  height: 10px;
  padding: 2%;
  font-size: 20px;
}
@media (min-width: 360px) {
  nav {
    height: 20px;
  }
}
nav ul li {
  display: inline;
  padding: 2%;
}
nav ul a {
  text-decoration: none;
  color: #b890c2;
}
@media (min-width: 360px) {
  nav ul a {
    font-size: 15px;
  }
}
nav ul a:hover {
  color: #ef97c1;
}

form {
  background: #b1deca;
  padding: 2%;
  border-radius: 10px;
  border: 2px solid #ACC6D6;
  margin-bottom: 2%;
}
@media (min-width: 360px) {
  form {
    position: relative;
    width: 95%;
    float: left;
  }
}
@media (min-width: 360px) and (min-width: 768px) {
  form {
    position: relative;
    top: 170%;
    width: 90%;
  }
}
@media (min-width: 360px) and (min-width: 768px) and (min-width: 1280px) {
  form {
    position: relative;
    float: right;
    width: 50%;
  }
}
form input {
  border-radius: 5px;
  border: 1px solid #ACC6D6;
  width: 90%;
  padding: 10px;
  display: block;
}
form input:focus {
  border: 1px dashed #8EB1C7;
}
form textarea {
  resize: none;
}
form label {
  display: inline-block;
  margin: 10px 0;
}
form .ctn-btn {
  width: 150px;
  text-align: center;
  margin: 20px 5px;
}
form .ctn-btn button[type=reset] {
  background: #b890c2;
}
form .ctn-btn button[type=submit] {
  background: #ef97c1;
}

footer {
  clear: both;
  text-align: center;
  font-size: 15px;
  padding-top: 20px;
}

article {
  position: absolute;
  display: block;
}
@media (min-width: 360px) {
  article {
    position: relative;
    width: 90%;
  }
}
@media (min-width: 360px) and (min-width: 1280px) {
  article {
    float: left;
    width: 40%;
  }
}

a {
  color: #b890c2;
}
a:hover {
  color: #ef97c1;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Gayathri", sans-serif;
}

form .ctn-btn button[type=reset], form .ctn-btn button[type=submit] {
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px 30px;
  color: #FEFDFF;
  filter: brightness(90%);
}
form .ctn-btn button[type=reset]:hover, form .ctn-btn button[type=submit]:hover {
  filter: brightness(110%);
}

h1, h2 {
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
}

h2 {
  margin-bottom: 10px;
}

main {
  padding: 2%;
}

header {
  background-image: url("https://secure.meetupstatic.com/photos/event/a/f/9/8/highres_491984952.jpeg");
  background-repeat: no-repeat;
}
@media (min-width: 360px) {
  header {
    background-size: cover;
    background-position: center;
    height: 200px;
  }
}
@media (min-width: 360px) and (min-width: 768px) {
  header {
    background-size: cover;
    background-position: bottom;
    height: 200px;
  }
}
@media (min-width: 360px) and (min-width: 1260px) {
  header {
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 400px;
  }
}

nav {
  text-align: center;
  background-color: #b1deca;
  height: 10px;
  padding: 2%;
  font-size: 20px;
}
@media (min-width: 360px) {
  nav {
    height: 20px;
  }
}
nav ul li {
  display: inline;
  padding: 2%;
}
nav ul a {
  text-decoration: none;
  color: #b890c2;
}
@media (min-width: 360px) {
  nav ul a {
    font-size: 15px;
  }
}
nav ul a:hover {
  color: #ef97c1;
}

form {
  background: #b1deca;
  padding: 2%;
  border-radius: 10px;
  border: 2px solid #ACC6D6;
  margin-bottom: 2%;
}
@media (min-width: 360px) {
  form {
    position: relative;
    width: 95%;
    float: left;
  }
}
@media (min-width: 360px) and (min-width: 768px) {
  form {
    position: relative;
    top: 170%;
    width: 90%;
  }
}
@media (min-width: 360px) and (min-width: 768px) and (min-width: 1280px) {
  form {
    position: relative;
    float: right;
    width: 50%;
  }
}
form input {
  border-radius: 5px;
  border: 1px solid #ACC6D6;
  width: 90%;
  padding: 10px;
  display: block;
}
form input:focus {
  border: 1px dashed #8EB1C7;
}
form textarea {
  resize: none;
}
form label {
  display: inline-block;
  margin: 10px 0;
}
form .ctn-btn {
  width: 150px;
  text-align: center;
  margin: 20px 5px;
}
form .ctn-btn button[type=reset] {
  background: #b890c2;
}
form .ctn-btn button[type=submit] {
  background: #ef97c1;
}

footer {
  clear: both;
  text-align: center;
  font-size: 15px;
  padding-top: 20px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Gayathri", sans-serif;
}

form .ctn-btn button[type=reset], form .ctn-btn button[type=submit] {
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px 30px;
  color: #FEFDFF;
  filter: brightness(90%);
}
form .ctn-btn button[type=reset]:hover, form .ctn-btn button[type=submit]:hover {
  filter: brightness(110%);
}

h1, h2 {
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
}

h2 {
  margin-bottom: 10px;
}

main {
  padding: 2%;
}

header {
  background-image: url("https://secure.meetupstatic.com/photos/event/a/f/9/8/highres_491984952.jpeg");
  background-repeat: no-repeat;
}
@media (min-width: 360px) {
  header {
    background-size: cover;
    background-position: center;
    height: 200px;
  }
}
@media (min-width: 360px) and (min-width: 768px) {
  header {
    background-size: cover;
    background-position: bottom;
    height: 200px;
  }
}
@media (min-width: 360px) and (min-width: 1260px) {
  header {
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 400px;
  }
}

nav {
  text-align: center;
  background-color: #b1deca;
  height: 10px;
  padding: 2%;
  font-size: 20px;
}
@media (min-width: 360px) {
  nav {
    height: 20px;
  }
}
nav ul li {
  display: inline;
  padding: 2%;
}
nav ul a {
  text-decoration: none;
  color: #b890c2;
}
@media (min-width: 360px) {
  nav ul a {
    font-size: 15px;
  }
}
nav ul a:hover {
  color: #ef97c1;
}

form {
  background: #b1deca;
  padding: 2%;
  border-radius: 10px;
  border: 2px solid #ACC6D6;
  margin-bottom: 2%;
}
@media (min-width: 360px) {
  form {
    position: relative;
    width: 95%;
    float: left;
  }
}
@media (min-width: 360px) and (min-width: 768px) {
  form {
    position: relative;
    top: 170%;
    width: 90%;
  }
}
@media (min-width: 360px) and (min-width: 768px) and (min-width: 1280px) {
  form {
    position: relative;
    float: right;
    width: 50%;
  }
}
form input {
  border-radius: 5px;
  border: 1px solid #ACC6D6;
  width: 90%;
  padding: 10px;
  display: block;
}
form input:focus {
  border: 1px dashed #8EB1C7;
}
form textarea {
  resize: none;
}
form label {
  display: inline-block;
  margin: 10px 0;
}
form .ctn-btn {
  width: 150px;
  text-align: center;
  margin: 20px 5px;
}
form .ctn-btn button[type=reset] {
  background: #b890c2;
}
form .ctn-btn button[type=submit] {
  background: #ef97c1;
}

footer {
  clear: both;
  text-align: center;
  font-size: 15px;
  padding-top: 20px;
}

/*segmentación de estilos*/
.oradores {
  margin-bottom: 1%;
}
@media (min-width: 360px) {
  .oradores {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (min-width: 360px) and (min-width: 1280px) {
  .oradores {
    width: 50%;
    position: absolute;
  }
}
.oradores i {
  color: #b890c2;
}
.oradores img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.orador {
  margin-bottom: 20px;
}
@media (min-width: 360px) {
  .orador .info {
    position: relative;
    left: 0;
  }
}
@media (min-width: 360px) and (min-width: 1280px) {
  .orador .info {
    position: absolute;
    left: 25%;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Gayathri", sans-serif;
}

form .ctn-btn button[type=reset], form .ctn-btn button[type=submit] {
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px 30px;
  color: #FEFDFF;
  filter: brightness(90%);
}
form .ctn-btn button[type=reset]:hover, form .ctn-btn button[type=submit]:hover {
  filter: brightness(110%);
}

h1, h2 {
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
}

h2 {
  margin-bottom: 10px;
}

main {
  padding: 2%;
}

header {
  background-image: url("https://secure.meetupstatic.com/photos/event/a/f/9/8/highres_491984952.jpeg");
  background-repeat: no-repeat;
}
@media (min-width: 360px) {
  header {
    background-size: cover;
    background-position: center;
    height: 200px;
  }
}
@media (min-width: 360px) and (min-width: 768px) {
  header {
    background-size: cover;
    background-position: bottom;
    height: 200px;
  }
}
@media (min-width: 360px) and (min-width: 1260px) {
  header {
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 400px;
  }
}

nav {
  text-align: center;
  background-color: #b1deca;
  height: 10px;
  padding: 2%;
  font-size: 20px;
}
@media (min-width: 360px) {
  nav {
    height: 20px;
  }
}
nav ul li {
  display: inline;
  padding: 2%;
}
nav ul a {
  text-decoration: none;
  color: #b890c2;
}
@media (min-width: 360px) {
  nav ul a {
    font-size: 15px;
  }
}
nav ul a:hover {
  color: #ef97c1;
}

form {
  background: #b1deca;
  padding: 2%;
  border-radius: 10px;
  border: 2px solid #ACC6D6;
  margin-bottom: 2%;
}
@media (min-width: 360px) {
  form {
    position: relative;
    width: 95%;
    float: left;
  }
}
@media (min-width: 360px) and (min-width: 768px) {
  form {
    position: relative;
    top: 170%;
    width: 90%;
  }
}
@media (min-width: 360px) and (min-width: 768px) and (min-width: 1280px) {
  form {
    position: relative;
    float: right;
    width: 50%;
  }
}
form input {
  border-radius: 5px;
  border: 1px solid #ACC6D6;
  width: 90%;
  padding: 10px;
  display: block;
}
form input:focus {
  border: 1px dashed #8EB1C7;
}
form textarea {
  resize: none;
}
form label {
  display: inline-block;
  margin: 10px 0;
}
form .ctn-btn {
  width: 150px;
  text-align: center;
  margin: 20px 5px;
}
form .ctn-btn button[type=reset] {
  background: #b890c2;
}
form .ctn-btn button[type=submit] {
  background: #ef97c1;
}

footer {
  clear: both;
  text-align: center;
  font-size: 15px;
  padding-top: 20px;
}

/*segmentación de estilos*/
article img {
  width: 150px;
  height: 80px;
}

/*segmentación de estilos*/
* {
  margin: 0;
  padding: 0;
  font-family: "Gayathri", sans-serif;
}

form .ctn-btn button[type=reset], form .ctn-btn button[type=submit] {
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px 30px;
  color: #FEFDFF;
  filter: brightness(90%);
}
form .ctn-btn button[type=reset]:hover, form .ctn-btn button[type=submit]:hover {
  filter: brightness(110%);
}

h1, h2 {
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
}

h2 {
  margin-bottom: 10px;
}

main {
  padding: 2%;
}

header {
  background-image: url("https://secure.meetupstatic.com/photos/event/a/f/9/8/highres_491984952.jpeg");
  background-repeat: no-repeat;
}
@media (min-width: 360px) {
  header {
    background-size: cover;
    background-position: center;
    height: 200px;
  }
}
@media (min-width: 360px) and (min-width: 768px) {
  header {
    background-size: cover;
    background-position: bottom;
    height: 200px;
  }
}
@media (min-width: 360px) and (min-width: 1260px) {
  header {
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 400px;
  }
}

nav {
  text-align: center;
  background-color: #b1deca;
  height: 10px;
  padding: 2%;
  font-size: 20px;
}
@media (min-width: 360px) {
  nav {
    height: 20px;
  }
}
nav ul li {
  display: inline;
  padding: 2%;
}
nav ul a {
  text-decoration: none;
  color: #b890c2;
}
@media (min-width: 360px) {
  nav ul a {
    font-size: 15px;
  }
}
nav ul a:hover {
  color: #ef97c1;
}

form {
  background: #b1deca;
  padding: 2%;
  border-radius: 10px;
  border: 2px solid #ACC6D6;
  margin-bottom: 2%;
}
@media (min-width: 360px) {
  form {
    position: relative;
    width: 95%;
    float: left;
  }
}
@media (min-width: 360px) and (min-width: 768px) {
  form {
    position: relative;
    top: 170%;
    width: 90%;
  }
}
@media (min-width: 360px) and (min-width: 768px) and (min-width: 1280px) {
  form {
    position: relative;
    float: right;
    width: 50%;
  }
}
form input {
  border-radius: 5px;
  border: 1px solid #ACC6D6;
  width: 90%;
  padding: 10px;
  display: block;
}
form input:focus {
  border: 1px dashed #8EB1C7;
}
form textarea {
  resize: none;
}
form label {
  display: inline-block;
  margin: 10px 0;
}
form .ctn-btn {
  width: 150px;
  text-align: center;
  margin: 20px 5px;
}
form .ctn-btn button[type=reset] {
  background: #b890c2;
}
form .ctn-btn button[type=submit] {
  background: #ef97c1;
}

footer {
  clear: both;
  text-align: center;
  font-size: 15px;
  padding-top: 20px;
}

/*segmentación de estilos*/
@media (min-width: 360px) {
  .map {
    width: 70%;
    height: 300px;
  }
}

/*# sourceMappingURL=styles.css.map */
